/* home画面のCSS */
.home-button {
    /* 位置指定 */
    position: absolute;
    /* 親要素の半分下にずらす */
    top: 50%;
    /* 親要素の半分右にずらす */
    left: 50%;
    /* 要素自体の半分、上と左にずらす */
    transform: translateY(-50%) translateX(-50%);
    /* 余白指定 */
    padding: 20px;
    /* ラインブロック要素にする */
}

.home-button button {
    /* 横並びにする */
    width: 50%;
    float: left;
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    /* 文字の太さをboldに指定 */
    font-weight: bold;
    /* 縦方向に10px、
    * 横方向に30pxの余白を指定 */
    padding: 10px 30px;
    /* 要素の高さを90に合わせる */
    height: 90px;
    /* 背景色を濃い青色に指定 */
    background-color: #0683c9;
    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
    * 影の横幅を2px
    * 縦長を2px
    * ぼかしを3px
    * 広がりを1px
    * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px f2px 3px 1px #666;
}

.button:active {
    /*on Click*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*Move down*/
    border-bottom: none;
    /*disappears*/
}

.home-button button:hover {
    color: white
}

/* home画面のCSS終了 */

/* ヘッダーCSS */
header {
    width: 100%;
    height: 120px;
    /*
    overflow: hidden;
    position: fixed;
    */
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
}

header h1#logo a {
    display: inline-block;
    height: 120px;
    line-height: 150px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 400;
}

header nav {
    display: inline-block;
    float: right;
}

header nav a {
    line-height: 150px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
}

header nav a:hover {
    color: white;
}

header.smaller {
    height: 75px;
}

header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

header.smaller nav a {
    line-height: 75px;
}
/* ヘッダーCSS終了 */

.DivLink {
    position:relative;
    background-color: darkgray;
    border:1px solid black;
}

.DivLink .Link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* check purchase order */
.orderid {
    font-size: 30px;
    height: 100%;
    width: 48px;
    float: left;
    border-right:1px black;
    padding-right: 5px;
}